<div class="assignments">
  <div class="assignment" *ngFor="let assignment of assignments">
		<app-assignment-link [assignment]="assignment"></app-assignment-link>
		<p class="assignment-remove" (click)="remove(assignment)">X</p>
	</div>
</div>
<div class="add-assignment">
	<button (click)="addAssignment()">Add Assignment</button>
</div>
<div class="new-assignment" *ngIf="assignment">
	<div class="assignment">
		<app-assignment-edit [(assignment)]="assignment"></app-assignment-edit>
	</div>
	<div class="commands">
		<button (click)="add()">Save Assignment</button>
		<button (click)="assignment = null">Cancel</button>
	</div>
</div>