<div class="episode" *ngIf="episode | async as e">
	<h2>{{ e.number }} - {{ e.title }}</h2>
	<h3>This week:</h3>
	<ul>
		<li *ngFor="let assignment of e.current">
			{{ assignment.type }} [{{ assignment.assigner.displayName }}]:
			<a href="https://www.imdb.com/title/{{ assignment.movie.imdbID }}/">
				{{ assignment.movie.Title }} ({{ assignment.movie.Year}})
			</a>
		</li>
	</ul>
	<h3>Extras:</h3>
	<ul>
		<li *ngFor="let extra of e.extras">
			[{{ extra.watcher.displayName }}]:
			<a href="https://www.imdb.com/title/{{ extra.movie.imdbID }}/">
				{{ extra.movie.Title }} ({{ extra.movie.Year}})
			</a>
		</li>
	</ul>
	<h3>Next week:</h3>
	<ul>
		<li *ngFor="let assignment of e.next">
			{{ assignment.type }} [{{ assignment.assigner.displayName }}]:
			<a href="https://www.imdb.com/title/{{ assignment.movie.imdbID }}/">
				{{ assignment.movie.Title }} ({{ assignment.movie.Year}})
			</a>
		</li>
	</ul>
</div>