<div class="video-select">
	<div class="ui four column grid">
		<div class="ten wide column centered">
			<div class="ui fluid action input">
				<input
					#input
					type="text"
					placeholder="Search for a music video...">
			</div>
		</div>
	</div>
	<div *ngIf="inputTouched && !videos.length" class="ui four wide column centered grid" style="margin: 3rem;">
    <div class="ui raised aligned segment red warning message">
      <i class="warning icon"></i>
      <span class="ui centered" style="margin: 0 auto;">No Video Found</span>
    </div>
  </div>
  <div *ngIf="loading" style="margin: 3rem;">
    <div class="ui active centered inline loader"></div>
  </div>	
  <app-video-list *ngIf="!loading" [videos]="videos" (selected)="videoSelected($event)"></app-video-list>
</div>