<!-- <a [routerLink]="['/tournaments']">
	Check out the latest tournament!
</a> -->

<h2>553 - Bad Young Boys</h2>

<h3>This Week</h3>
<ul>
	<li>Extras [Harley]: <a href="https://www.imdb.com/title/tt3661210/">Godzilla vs Kong (2021)</a></li>
	<li>Extras [Fonso]: <a href="https://www.imdb.com/title/tt0104389/">The Hand That Rocks the Cradle (1992)</a></li>
</ul>
<h3>Next Time</h3>
<ul>
	<li>ART???</li>
</ul>
<!-- 
	
	<li>Homework [Harley]: <a href="https://www.imdb.com/title/tt3661210/">The Dig (2021)</a></li>
	<li>Homework [Art]: <a href="https://www.imdb.com/title/tt10896398/">Boogie (2021)</a></li>
 -->