<!-- <a [routerLink]="['/tournaments']">
	Check out the latest tournament!
</a> 
<app-episode [episode]="latest"></app-episode>
<ul>
  <li *ngFor="let episode of episodes | async">
    {{ episode.number }} - {{ episode.title }}
  </li>
</ul>

Cup o Noodle Problems
Champagne
	
<h3>Extras</h3>
<ul>
	<li>[Fonso]: <a href="https://www.imdb.com/title/tt0117571/">The Forever Purge (2021)</a></li>
	<li>[Fonso]: <a href="https://www.imdb.com/title/tt15004156/">Woodstock 99: Peace Love and Rage (2021)</a></li>
	<li>[Fonso]: <a href="https://www.imdb.com/title/tt9288692/">Werewolves Within (2021)</a></li>
	<li>[Harley]: <a href="https://www.imdb.com/title/tt1243957/">The Tourist (2010)</a></li>
</ul>

<h3>Show Notes</h3>
<ul>
	<li><a href="https://www.youtube.com/watch?v=abAh0CfjVmg/">NFL Recruit</a></li>
	<li><a href="https://www.youtube.com/watch?v=ozOb5FcnDf4">Hip to be Square</a></li>
</ul>

	<li>Homework [Harley]: <a href="https://www.imdb.com/title/tt3661210/">The Dig (2021)</a></li>
	<li>Homework [Art]: <a href="https://www.imdb.com/title/tt10896398/">Boogie (2021)</a></li>

	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

 -->
<h2>579 - El Top Oh</h2>
<h3>This Week</h3>
<ul>
	<li>Homework [El Champ: Art]:	<a href="https://www.imdb.com/title/tt0067866/">El Topo (1970)</a></li>
</ul>
<h3>Extras</h3>
<ul>
	<li>[Art]: <a href="https://www.imdb.com/title/tt11540284/">8-Bit Christmas (2021)</a></li>
	<li>[Art]: <a href="https://www.imdb.com/title/tt0099785/">Home Alone (1990)</a></li>
</ul>
<h3>Next Time (12/12/2021)</h3>
<ul>
	<!-- <li>Homework [CHAMP]:	???</li> -->
	<li>Homework [Fonso]:	<a href="https://www.imdb.com/title/tt9639470/">Last Night in Soho (2021)</a></li>
	<li>Extra Credit [MCP]: <a href="https://www.imdb.com/title/tt7131622/">Once Upon a Time... In Hollywood (2019)</a></li>
</ul>
<!--
<h3>Listen to this</h3>
<ul>
	<li><a href="https://www.youtube.com/watch?v=ErQNRwH-Hmk">Fonso's banger</a></li>
	<li><a href="https://www.youtube.com/watch?v=9bzMaiczpXU">Tony's banger</a></li>
</ul>

1: Bodyguard - 3, 5, 10 - 
A: Bodyguard
F: Bodyguard
H: Bodyguard
vs
2: Lost Boys - 1
A: 
F: Lost Boys
H: 

3: titanic - 3,5,5
A: titanic
F: titanic
H: titanic
vs
4: kill bill - 2
A: kill bill
F: kill bill
H: 

5 over the top - 1
F: over tho top 
H: 
-->