<a [routerLink]="['/tournaments']">
	Check out the latest tournament!
</a>

<h2>548 - Skong</h2>

<h3>This Week</h3>
<ul>
	<li>Homework [MCP]: <a href="https://www.imdb.com/title/tt3450900/">The Sea of Trees (2015)</a></li>
	<li>Extra Credit [Fonso]: <a href="https://www.imdb.com/title/tt0146882/">High Fidelity (2000)</a></li>
</ul>

<h3>Extras</h3>
<ul>
	<li>[MCP, Fonso]: <a href="https://www.imdb.com/title/tt5034838/">Godzilla vs. Kong (2021)</a></li>
	<li>[MCP]: <a href="https://www.imdb.com/title/tt12361974/">Zack Snyder's Justice League (2021)</a></li>
	<li>[Harley]: <a href="https://www.imdb.com/title/tt5246700/">How It Ends (2018)</a></li>
</ul>

<h3>Next Week</h3>
<ul>
	<li>Homework [Harley]: <a href="https://www.imdb.com/title/tt1987680/">The Upside (2017)</a></li>
	<li>Round 1 of Tournmento de Theme Th Theme Theme Theme</li>
</ul>
<!-- 
	Art: 26
	D:23
	R:23
	A:56.5
	E:31
 -->