
  .button {
		box-shadow: inset 0px 1px 0px 0px #ffffff;
		background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
		background-color: #ffffff;
		border-radius: 6px;
		border: 1px solid #dcdcdc;
		display: inline-block;
    padding: 5px 16px;
	}