<ul>
  <li>
    <input [(ngModel)]="filter" placeholder="filter by name"/>
    <button (click)="filterTeams()">Filter</button>
  </li>
  <li *ngFor="let team of teams | async">
    <h1>{{ team.contestant }} - {{ team.name }}</h1>
    <iframe width="560" height="315" [src]="getVideoID(team.link)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <a [routerLink]="['/tournaments/teams/edit', { id: team.id }]">
      Edit
    </a>
  </li>
</ul>
