.match {
	width: 90vw;
	margin-bottom: 10px;
	.team {
		width: fit-content;
		display: inline-block;
		background-color: lightgrey;
	}
	.versus {
		vertical-align: middle;
		display: inline-block;
		height:50ch;
	}
}

.team-a {
	border: 1rem solid darkred;
}

.team-b {
	border: 1rem solid darkblue;
}