<div class="match">
	<div class="team team-a">
		<ng-container *ngIf="match.teamIdA !== undefined">
			<app-team [team-id]="match.teamIdA" [show-entry]="showEntry"></app-team>
		</ng-container>
	</div>
	<div class="versus"><img width="100" src="../../../../assets/vs.png"></div>
	<div class="team team-b">
		<ng-container *ngIf="match.teamIdB !== undefined">
			<app-team [team-id]="match.teamIdB" [show-entry]="showEntry"></app-team>
		</ng-container>
	</div>
</div>
<div class="team winner">
	<ng-container *ngIf="match.winnerId !== undefined">
		Winner:
		<app-team [team-id]="match.winnerId"></app-team>
	</ng-container>
</div>