<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="../assets/cropped-BBPC-LOGO.png"
  />
  <span>Bad Boys Podcast</span>
  <div class="spacer"></div>
  <nav>
		<a class="button" routerLink="tournaments" routerLinkActive="activeButton">Tournaments</a>
		<ng-container *ngIf="admin | async">
			<a class="button" routerLink="admin" routerLinkActive="activeButton">Admin</a>
		</ng-container>
  </nav>
	<div class="spacer"></div>
	<app-session-panel></app-session-panel>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
