<!-- Toolbar -->
<div class="toolbar" role="banner">
	<a routerLink="/">
		<img
			width="80"
			alt="Angular Logo"
			src="../assets/cropped-BBPC-LOGO.png"
		/>
	</a>
  <div class="spacer"></div>
  <nav>
		<a class="button" routerLink="episodes" routerLinkActive="activeButton">Episodes</a>
		<ng-container *ngIf="(user$ | async)?.admin">
			<a class="button" routerLink="tournaments" routerLinkActive="activeButton">Tournaments</a>
			<a class="button" routerLink="admin" routerLinkActive="activeButton">Admin</a>
		</ng-container>
  </nav>
	<div class="spacer"></div>
	<app-session-panel></app-session-panel>
</div>

<div class="content" role="main">
	<router-outlet></router-outlet>
	
</div>
