<!-- Toolbar -->
<div class="toolbar" role="banner">
	<a routerLink="/">
		<img
			width="80"
			alt="Angular Logo"
			src="../assets/cropped-BBPC-LOGO.png"
		/>
	</a>
  <div class="spacer"></div>
  <nav>
		<a routerLink="episodes" routerLinkActive="activeButton">Episodes</a> | 
		<a  routerLink="tournaments" routerLinkActive="activeButton">Tournaments</a> | 
		<ng-container *ngIf="(user$ | async)?.admin">
			<a  routerLink="admin" routerLinkActive="activeButton">Admin</a>
		</ng-container>
  </nav>
	<div class="spacer"></div>
	<app-session-panel></app-session-panel>
</div>

<div class="content-container">
	<div>
		<app-tournament-list></app-tournament-list>
	</div>
	<div class="content" role="main">
		<router-outlet></router-outlet>
	</div>
	<div>
		<app-listen-on></app-listen-on>
		<a href="https://www.patreon.com/badboyspodcast">Patreon</a>
		<a href="/assets/privacy.html">Privacy Policy</a>
	</div>
</div>
