<h1>Frequently Asked Questions</h1>
<div class="faqs">
	<section class="question">
		<h3>You call that a rating system?</h3>
		<p>No YOU'RE a rating system!</p>
		<p>From lowest to highest:</p>
		<ol>
			<li>Jeff Goldbloom - <a href="https://www.youtube.com/watch?v=nnun8y7r8_U">That's one big pile of shit</a></li>
			<li>Anthony Keidis - <a href="https://youtu.be/BdkW64SSI-4?t=3">That would be a waste of time</a></li>
			<li>Bixby Snyder - <a href="https://www.youtube.com/watch?v=_dGh7p1tZmk">I'd buy that for a dollar</a></li>
			<li>Christian Slater - Now that's a fucking movie (01:41:36 to 01:41:39)</li>
		</ol>
	</section>
	<!-- <clr-accordion>
		<clr-accordion-panel>
			<clr-accordion-title>What the fuuu....?</clr-accordion-title>
			<clr-accordion-content>I know, right?</clr-accordion-content>
		</clr-accordion-panel>
		<clr-accordion-panel>
			<clr-accordion-title>You call that a rating system?</clr-accordion-title>
			<clr-accordion-content>
				<ol>
					<li>Jeff Goldbloom - That's one big pile of shit</li>
					<li>Anthony Keidis - That would be a waste of time</li>
					<li>Bixby Snyder - I'd buy that for a dollar</li>
					<li>Christian Slater - Now that's a fucking movie</li>
				</ol>
			</clr-accordion-content>
		</clr-accordion-panel>
		<clr-accordion-panel>
			<clr-accordion-title>Are there any rules to the "game"?</clr-accordion-title>
			<clr-accordion-content></clr-accordion-content>
		</clr-accordion-panel>
		<clr-accordion-panel>
			<clr-accordion-title>I heard there's a chat?</clr-accordion-title>
			<clr-accordion-content></clr-accordion-content>
		</clr-accordion-panel>
	</clr-accordion> -->
</div>