<h1>{{ tournament.name }}</h1>

<a [routerLink]="['/tournaments/register', { tournament_id: tournamentID }]">
	Register
</a>

<ng-container *ngIf="(user$ | async)?.host">
	
</ng-container>
<ng-container *ngIf="(user$ | async)?.admin">
	<ul>
		<li>
			<a [routerLink]="['/tournaments/teams', { tournament_id: tournamentID }]">
				teams
			</a>
		</li>
		<li>
			<a [routerLink]="['/tournaments/seed', { tournament_id: tournamentID }]">
				seed
			</a>
		</li>
		<li>
			<a [routerLink]="['/tournaments/matches', { tournament_id: tournamentID }]">
				matches
			</a>
		</li>
		<li>
			<a [routerLink]="['/tournaments/users', { tournament_id: tournamentID }]">
				users
			</a>
		</li>
		<li>
			Rounds
			<ol>
				<li *ngFor="let round of tournament.rounds">
					<a [routerLink]="['/tournaments/matches', { tournament_id: tournamentID, round_id: round }]">
						Round {{round}}
					</a>
				</li>
			</ol>
		</li>
	</ul>
</ng-container>
