<ng-container *ngIf="team">
	<div class="team">
		<div class="title">
			<span class="name"><a [href]="getVideoLink(team.link)">
				<ng-container *ngIf="showName">
					{{team.name}}
				</ng-container>
			</a></span>
			<a *ngIf="showEdit" [routerLink]="['/tournaments/teams/edit', { team_id: team.id }]">edit</a>
		</div>
		<div class="entry" *ngIf="showEntry && (team.link !== undefined)">
			
			<iframe 
				width="361" 
				height="25" [src]="getVideoURL(team.link)" frameborder="0"
			></iframe>
		</div>
		<div>
			<span class="movie">
				<app-movie-link [movie]="team.movie" [hidden]="true"></app-movie-link>
			</span>
		</div>
	</div>
</ng-container>