<label for="roundId">Round:
	<input [(ngModel)]="match.roundId" placeholder="Round" />
</label>
<br />
<label for="teamA">Team A:
	<select id="teamA" name="teamA" [(ngModel)]="match.teamIdA">
		<option *ngFor="let team of teams" [ngValue]="team.id">{{ team.contestant }} - {{  team.name }}</option>
	</select>
</label>
<br />
<label for="teamB">Team B:
	<select id="teamB" name="teamB" [(ngModel)]="match.teamIdB">
		<option *ngFor="let team of teams" [ngValue]="team.id">{{ team.contestant }} - {{ team.name }}</option>
	</select>
</label>
<br />
<label for="winner">Winner:
	<select id="winner" name="winner" [(ngModel)]="match.winnerId">
		<option *ngFor="let team of teams" [ngValue]="team.id">{{ team.contestant }} - {{  team.name }}</option>
	</select>
</label>
<br />
<button (click)="save()">Save</button>