<ng-container *ngIf="showingRound">
	<h1>Round {{roundId}}</h1>
</ng-container>
<ng-container *ngIf="!showingRound">
	<p>
		<a [routerLink]="['/tournaments/matches/add', { tournament_id: tournamentID }]">
			Add
		</a>
	</p>
	<input [(ngModel)]="roundId" placeholder="Round" />
	<button (click)="filter()">
		Filter
	</button>
	<br />
</ng-container>
<ol>
	<li *ngFor="let match of matches">
		<app-match [match]="match" [show-entry]="showingRound"></app-match>
		<ng-container *ngIf="!showingRound">
			<a [routerLink]="['/tournaments/match', { tournament_id: tournamentID, match_id: match.id }]">View</a>
			<a [routerLink]="['/tournaments/matches/edit', { tournament_id: tournamentID, match_id: match.id }]">Edit</a>
		</ng-container>
	</li>
</ol>

<h3>Winners</h3>
<ol>
	<button (click)="nextRound()">Next Round</button>
	<li *ngFor="let match of matches">
		<ng-container *ngIf="match.winner">
			<app-team [team]="match.winner"></app-team>
		</ng-container>
	</li>
</ol>