<h1>{{ tournament.name }}</h1>
<p>{{ tournament.description }}</p>
<p>Entry Limit: {{ tournament.teamlimit }}</p>
<p>Find the video on youtube, then copy the url (or find the "share" button and create a link) Then paste it in the second edit box labeled "youtube link"</p>
<ng-container *ngIf="!teamsFilled">
	<p><input [(ngModel)]="team.name" placeholder="title / entry name" /></p>
	<!-- <p><input [(ngModel)]="team.link" placeholder="youtube link"/></p> -->
	<p><app-video-select [(video)]="team.video"></app-video-select></p>
	<div *ngIf="team.video">
		<iframe width="560" height="315" [src]="getVideoURL(team.video.videoUrl)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	<p><app-movie-select [(movie)]="team.movie"></app-movie-select></p>
	<div *ngIf="team.movie">
		<app-movie-card [movie]="team.movie"></app-movie-card>
	</div>
	<button (click)="add()" [disabled]="team.name == '' || !isValidLink(team?.video?.videoUrl)">Add</button>
</ng-container>
<h3>{{ message }}</h3>
<ol>
	<li *ngFor="let team of teams | async">
		<p>{{ team.contestant }} - {{ team.name }}
			<!-- <button (click)="remove(team)">Remove Entry</button> -->
		</p>
		<iframe width="560" height="315" [src]="getVideoURL(team.link)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<app-movie-card [movie]="team.movie"></app-movie-card>
	</li>
</ol>